/* General chat container and message styling */
.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    background: #008080;
    color: white; 
}



.chatActionContainer {
    padding: 20px 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid  #cccccc;
}

.formContainer {
    display: flex;
    width: 90%;
    margin-right: 5px;
}
.questionContainer.focus {
    outline: 2px solid #4D90FE;
    border-radius: .7em;
}

.formContainer .questionContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
svg {
    width: 100%;
    height: 100%;
    display: block;
  }

.questionContainer .questionInput {
    width: 100%;
    height: 60px;
    padding: 8px;
    background-color: #c6e3fa61;
    margin-right: 8px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: .7em;
}

.formContainer .linksContainer {
    width: 45%;
    margin-left: 10px;
    display: flex;
}

.submitBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    height: 30px;
}

