.messagesContainer {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.message {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.message.user{
    background: #6ea9d7;
    color: #000000de;
}

.message.agent{
    color: #000000de;
}